.page_content {
    background-color: #DCDCDC;
    height: 79vh;

}

.page_content-date {
    text-align: center;
    padding: 40px 50px;
}

.page_content-date button {
    border: 1px solid #4169E1;
    background-color: #ffff;
    color: #4169E1;
    padding: 0 10px;
}

.page_content-date a {
    margin: 0 20px;
}

.page_content-date form {
    display: inline-block;
}

.page_content-table {
    text-align: center;
    margin: 0 auto;
    width: 90%;
}

.page_content-table tr {
    border-top: 1px solid #696969;
    /* border-bottom: 1px solid #696969; */
}

.page_content-table th {
    padding: 20px 30px;
    border-top: 1px solid #696969;
}

.page_content-table td {
    padding: 20px 30px;
}

.paginate {
    padding-left: 50%;
}