/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/#id_16384_0.dblwr
binlog.000003
breaktimes.ibd
failed_jobs.ibd
migrations.ibd
pessword_resets.ibd
